.header {
  border-bottom: 1px solid var(--gray-100);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 10;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;

  & > div {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
}

h1 img {
  height: 3.2rem;
  width: auto;
}

.right {
  font-size: 1.4rem;
  display: flex;
  align-items: center;

  a {
    line-height: 1;
  }

  .profile {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    position: relative;
    cursor: pointer;
  }

  .profile img {
    width: 2.4rem;
    height: 2.4rem;
  }

  .profile ul {
    top: 110%;
  }

  .write {
    color: var(--primary);
  }
}

.signup {
  color: var(--primary);
}

.overlay {
  z-index: 20;
}

.side {
  position: fixed;
  transform: translateX(100%);
  transition: transform ease-out 0.2s;
  z-index: 30;
  right: 0;
  top: 0;
  bottom: 0;
  width: 70%;
  background-color: white;

  .top {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 4px solid var(--gray-100);

    & > div {
      font-size: 1.4rem;
      font-weight: 700;
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }

  .profile {
    display: flex;
    align-items: center;
    gap: 1rem;

    img {
      width: 5rem;
      height: 5rem;
      border-radius: 100%;
    }

    & > div {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
    }

    span:first-of-type {
      font-size: 1.8rem;
      font-weight: 700;
    }

    span:last-of-type {
      font-size: 1.4rem;
      color: var(--gray);
    }
  }

  nav a {
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    padding: 1.2rem 2rem;
  }

  hr {
    border-top: 1px solid var(--gray-100);
    margin: 0.2rem 0;
  }

  > div:last-of-type {
    padding: 1.6rem 2rem;
    font-size: 1.4rem;
    font-weight: 700;
  }

  .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .info > span:first-of-type {
    flex-shrink: 0;
    cursor: pointer;
  }

  .info > span:last-of-type {
    color: var(--primary);
  }
}

.open {
  transform: translateX(0);
}

@media (max-width: 768px) {
  .wrapper {
    padding: 1.6rem 0;
  }
}
