.page {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    margin-top: 12.4rem;
    margin-bottom: 5.2rem;
  }
}

img {
  height: 3rem;
  width: auto;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

form > div {
  border: 1px solid var(--gray-80);
  border-radius: 0.8rem;
  overflow: hidden;
}

form > div > input:first-of-type {
  border-bottom: 1px solid var(--gray-80);
}

form button {
  margin-top: 1rem;
}

.message {
  color: var(--error);
  font-size: 1.4rem;
}

@media (max-width: 768px) {
  .page h2 {
    margin-top: 5.4rem;
    margin-bottom: 4rem;
  }

  form {
    gap: 1.2rem;
  }

  form button {
    margin-top: 1.8rem;
  }
}
